# Python-related
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite
*.db

# Environment variables
.env

# Virtual environment directories
venv/
env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Miscellaneous
*.log
*.tmp
*.swp
.DS_Store
*.egg-info/
